#board {
    width: 640px;
    height: 640px;
    margin: auto;
    border: 2px solid black;
  }
  
  .square {
    width: 80px;
    height: 80px;
    float: left;
  }
  
  .white {
    background-color: white;
  }
  
  .black {
    background-color: gray;
  }
  
  .piece {
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
  }